textarea {
    resize: none;
}

#characterBoxCount {
    float:right
}

.button-group {
    float: right;
}

hr {
    margin-top: 90px;
}

.index-center {
    text-align: center;
}

#thankyouForm {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #ff0000;
    margin-top: 50px;
}

.loginBox {
    width: 50%;
    margin: 0 auto;
}

#logout {
    margin-top:11%;
}

#user-style {
    color: white;
    font-weight: bold;
}

.margin-bs{
    margin-top: 50px;
}

@media (max-width: 700px) {
    .loginBox {
        width: 75%;
        margin: 0 auto;
    }
}

/*MINIMUM SIZE: GOOGLE CHROME*/
@media (max-width: 373px) {
    h1 {
        font-size: 20px;
        text-align: justify;
    }

    p {
        text-align: justify;
    }

    hr {
        margin-top: 10px;
    }
}

@media (max-width: 500px) {
    .loginBox {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    #logout {
        margin: 10px 15px;
    }
}