textarea {
    resize: none;
}

#characterBoxCount {
    float:right
}

.button-group {
    float: right;
}

hr {
    margin-top: 90px;
}

.index-center {
    text-align: center;
}

#thankyouForm {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #ff0000;
    margin-top: 50px;
}